#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top:50%;
    transform: translateY(-50%);

}

.texto{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}